@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-g-blue via-g-pale-green to-g-light-green
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: .5rem;
  /* background: violet; */
  /* display: none; */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin: .4rem 0;
}

::-webkit-scrollbar-thumb {
  /* opacity: 0; */
  background-color: transparent;
  background-color: rgb(98, 98, 105);
  border-radius: 1rem;
}
